# Go
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
vendor/
go.work
go.work.sum

# Coverage
coverage.txt
coverage.html

# Text editor swap
*.swp
*.swo
*~

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Env / local
.env
.env.local
